* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: white;
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.logo {
  display: inline-block;
}

.navList {
  padding-left: 20px;
}

a{
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

body{
  height: 90vh;
  background-color: #FF6000;
}

/* form */

.formClass{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}

.formName{
  margin-top: 10px;
}

.formCenter{
  /* margin: 50px; */
  height: 52vh;
  width: 30%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

input{
  border-radius: 5px;
  height: 30px;
  width: 250px;
}

button{
  border-radius: 5px;
  height: 30px;
  width: 250px;
  margin-top: 70px;
}

.dataInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.usersSet{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 52vh;
  width: 30%;
  background-color: aliceblue;
  border-radius: 15px;
}

.user{
  margin: 10px;
}